.node-container {
    -fx-background-color: transparent;
}

.node-shape {
    -fx-background-color: #5d6d7e;

    -fx-stroke: white;
    -fx-stroke-width: 2;
    -fx-arc-width: 20px;
    -fx-arc-height: 20px;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 0);
}

.node-label {
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
    -fx-fill: white;
    -fx-font-weight: bold;
}

.edge-line {
    -fx-stroke: gray;
}

.edge-label {
    -fx-font-family: "Arial";
    -fx-font-size: 10px;
    -fx-fill: black;
    -fx-font-weight: bold;
}